<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-options="category.name as category.name for category in categories" ng-change="filterRecipes(filter)" ng-model="filter">
      <option value="" selected>All categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="go('/add')">+ Add Recipe</button>
    </div>
  </div>
</div>

<div class="clear"></div>

<div ng-hide="recipes.length" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div ng-show="recipes.length" class="grid-100 row addHover" ng-repeat="recipe in recipes" ng-init="recipe.deleting = false">
  <a href="/#!/edit/{{ recipe._id }}">
    <div class="grid-70">
      <p>
        {{ recipe.name }}
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a href="/#!/edit/{{ recipe._id }}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a href="" ng-hide="!recipe.deleting" ng-click="deleteRecipe($index,recipe._id)" class="no-action-link" style="color:red"> U sure? </a>
          <a href="" ng-hide="!recipe.deleting" ng-click="recipe.deleting = false" class="no-action-link" style="margin-left:10px;color:dodgerblue"> Go back </a>
          <a href="" ng-hide="recipe.deleting" ng-click="recipe.deleting = true" class="no-action-link"><img src="images/delete.svg" height="12px"> Delete</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--pre id="" class="card" style="position:fixed;width:250px;left:10px;top:10px;word-wrap:break-word;white-space:normal;background-color:#fff;opacity:0.85">{{recipes}}</pre-->